# Игнорировать все .log-файлы
*.log

# Игнорировать все .doc-файлы
*.doc

# Игнорировать папку build
build/

# Игнорировать файл в корне
/config.json

# Игнорировать все .tmp-файлы в любой папке
**/*.tmp

# Не игнорировать main.log (исключение)
!main.log